@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    font-family: "Roboto", serif;
    box-sizing: border-box;
    color: white;
}
.sidebar-for-small-screen{
    width: 82px;
    padding: 0 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
}
.home-small{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 64px;
    height: 74px;
    cursor: pointer;
    margin-bottom: 2px;
    background-color: transparent;
    border-radius: 10px;
}
.home-small:hover{
    background-color: #262626;
}
.home-small img{
    width: 24px;
    height: 24px;
    background-color: transparent;
}
.icon-small{
    background-color: transparent;
}
.font-small{
    background-color: transparent;
}
.home-small p{
    font-size: 10px;
    color: rgb(241, 241, 241);
    font-weight: 400;
    line-height: 14px;
    background-color: transparent;
}
@media (max-width:1312px){
    .sidebar{
        display: none;
    }
    .sidebar-for-small-screen{
        display: block;
    }
    .upper-slider{
        width: 91vw;
    }
    .video-grid-lower{
        width: 91vw;
    }
    .video-box{
        width: 28vw;
    }
    .shorts-section{
        width: 88vw;
    }
    .shorts-video-box{
        width: 16.5vw;
    }
}
@media (max-width:1081px){
    .video-grid-lower{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .video-box{
        width: auto;
        margin-right: 15px;
    }
    .video-box:nth-child(odd){
        grid-column: 1/2; 
    }
    .video-box:nth-child(even){
        grid-column: 2/3; 
    }
    .shorts-video-box:last-child{
        display: none;
    }
    .shorts-video-box{
        width: 21vw;
    }
}
@media (max-width:956px){
    .views{
        font-size: 0.7rem;
    }
    .title{
        font-size: 16px;
        max-height: 3rem;
        height: auto;
    }
}
@media (max-width:791px){
    .sidebar-for-small-screen{
        display: none;
    }
    .upper-slider{
        width: 100vw;
    }
    .video-grid-lower{
        width: 100vw;
    }
    .shorts-section{
        width: 97vw;
    }
    .shorts-video-box{
        width: 22.5vw;
    }

}
@media (max-width:698px){
    .video-grid-lower{
        display: grid;
        grid-template-columns: 1fr;
    }
    .video-box{
        grid-column: 1/2;
        width: 70vw;
        margin: auto;
    }
    .video-box:nth-child(odd){
        grid-column: 1/2; 
    }
    .video-box:nth-child(even){
        grid-column: 1/2; 
    }
    .views{
        font-size: 0.9rem;
    }
    .title{
        font-size: 1rem;
        max-height: 3rem;
        height: auto;
    }
    .shorts-video-box:nth-last-child(2){
        display: none;
    }
    .shorts-video-box{
        width: 27vw;
    }
    .shorts-section{
        width: 85vw;
        margin: auto;
    }
}
@media (max-width:425px){
    .upper-slider{
        width: 100vw;
    }
    .video-box{
        width: 90vw;
        margin: auto;
    }
    .navbar,
    .upper-slider{
        border-bottom: 1.5px solid rgb(99, 99, 99);
    }
    .shorts-video-box:nth-last-child(3){
        display: none;
    }
    .shorts-video-box{
        width: 41vw;
    }
    .shorts-video-section{
        width: 90vw;
        margin: auto;
    }
    .shorts-video-box-img{
        height: 80vw;
    }
    .shorts-video-box-img img{
        width: auto;
        height: auto;
    }
}
@media (max-width:375px){
    .title{
        font-size: 0.9rem;
    }
    .views{
        font-size: 0.7rem;
    }
}