@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    font-family: "Roboto", serif;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 56px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left{
    width: 169px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-icon:hover{
    background-color: #2d2c2c;
}
.menu-icon img{
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: transparent;
}
.youtube-logo{
    width: 123px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px 14px 18px 16px;
    cursor: pointer;
    position: relative;
}
.red-icon img{
    height: 30px;
}
.youtube-font{
    margin-left: 2px;
}
.youtube-font img{
    height: 20px;
}

.search-bar{
    display: flex;
    width: 732px;
    height: 40px;
    margin-left: 45px; 
    margin-right: 10px;
    position: relative;
    left: 15px;
}
.search-input input{
    width: 536px;
    height: 40px;
    margin-left: 2.11vw;
    padding-left: 16px;
    color: white;
    font-size: 15px;
    border: 1px solid #303030;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.search-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    width: 64px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    border: 1px solid #303030;
    border-left: none;
}
.search-image img{
    background-color: transparent;
}
.mic-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.1s;
}
.mic-icon img{
    background-color: transparent;
}
.mic-icon:hover{
    background-color: #403e3e;
}
.nav-right{
    width: 225px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.create-btn{
    display: flex;
    width: 97.19px;
    height: 36px;
    border-radius: 20px;
    background-color: #303030;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.1s;
}
.create-btn:hover{
    background-color: #403e3e;
}
.create-btn img{
    background-color: transparent;
    height: 30px;
}
.create-btn p{
    color: white;
    background-color: transparent;
    position: relative;
    left: -10px;
    font-size: 14px;
}
.notification-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.1s;
}
.notification-icon:hover{
    background-color: #403e3e;
}
.notification-icon img{
    width: 24px;
    height: 24px;
    background-color: transparent;
}
.account-avatar{
    width: 60px;
    height: 34px;
    border-radius: 50%;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.account-avatar img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}