@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    font-family: "Roboto", serif;
    box-sizing: border-box;
    color: white;
}
.navbar{
    width: 100%;
    height: 56px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left{
    width: 169px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-icon:hover{
    background-color: #2d2c2c;
}
.menu-icon img{
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: transparent;
}
.youtube-logo{
    width: 123px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px 14px 18px 16px;
    cursor: pointer;
    position: relative;
}
.red-icon img{
    height: 30px;
}
.youtube-font{
    margin-left: 2px;
}
.youtube-font img{
    height: 20px;
}

.search-bar{
    display: flex;
    width: 732px;
    height: 40px;
    margin-left: 45px; 
    margin-right: 10px;
    position: relative;
    left: 15px;
}
.search-input input{
    width: 536px;
    height: 40px;
    margin-left: 2.11vw;
    padding-left: 16px;
    color: white;
    font-size: 15px;
    border: 1px solid #303030;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.search-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    width: 64px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    border: 1px solid #303030;
    border-left: none;
}
.search-image img{
    background-color: transparent;
}
.mic-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.1s;
}
.mic-icon img{
    background-color: transparent;
}
.mic-icon:hover{
    background-color: #403e3e;
}
.nav-right{
    width: 225px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3px;
    margin-right: 2px;
}
.create-btn{
    display: flex;
    width: 97.19px;
    height: 36px;
    border-radius: 20px;
    background-color: #303030;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.1s;
}
.create-btn:hover{
    background-color: #403e3e;
}
.create-btn img{
    background-color: transparent;
    height: 30px;
}
.create-btn p{
    color: white;
    background-color: transparent;
    position: relative;
    left: -10px;
    font-size: 14px;
}
.notification-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.1s;
}
.notification-icon:hover{
    background-color: #403e3e;
}
.notification-icon img{
    width: 24px;
    height: 24px;
    background-color: transparent;
}
.account-avatar{
    width: 60px;
    height: 34px;
    border-radius: 50%;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.account-avatar img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1257px;
}
.sidebar{
    padding: 10px;
    height: 767px;
    overflow: scroll;
    overflow-x: hidden;
    width: 235px;
    transition: 0.3s;
}
.upper-sidebar{
    height: 345px;
    width: 204px; 
    border-bottom: 1px solid #404040; 
}
.hss{
    width: 204px;   
    height: 134px;
}
.home{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 204px;
    height: 40px;
    background-color: #262626;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    padding: 0 17px;
    transition: 0.1s;
}
.home:hover{
    background-color:#333232;;
}
.home-icon img{
    width: 24px;
    height: 24px;
}
.home-font{
    position: relative;
    left: 20px; 
}
.home-font p{
    color: white;
}
.transparent{
    background-color: transparent;
}
.shorts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 204px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    transition: 0.1s;
    padding: 0 17px;
}
.shorts:hover{
    background-color:#262626;
}
.icon-top-padding{
    padding-top: 3px;
}
.you-section{
    height: 225px;
    padding-top: 10px;
    width: 204px;
}
.horizontal-line1{
    width: 215px;
    height: 1px;
    background-color: #404040;
    position: relative;
    left: -2px;
}
.horizontal-line{
    width: 225px;
    height: 1px;
    background-color: #404040;
    position: relative;
    left: -10px;
}
.you{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    padding: 0 17px;
    border-radius: 10px;
}
.you:hover{
    background-color: #262626;
    
}
.you-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-left: 5px;
}
.you-arrow img{
    width: 20px;
    height: 20px;
}
.lower-sidebar{
    width: 240px;
    height: 497px;
    margin-top: 15px;
    padding-top: 15px;
}
.explore{
    margin-bottom: 10px;
}
.explore-text{
    padding: 12px;
    width: 216px;
    height: 32px;
    margin-bottom: 5px;
}
.explore-text p{
    font-weight: bold;
    color: white;
    font-size: 16px;
}
.yt-offering{
    padding: 10px 0;
}
.user-controls{
    padding: 14px 0;
}
.tnc-first{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 16px 14px 0 14px;
}
.apc{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2px;
}
.apc p{
    font-size: 13px;
    color: #AAAAAA;
    margin-right: 8px;
    font-weight: 500;
    cursor: pointer;
}
.copyright{
    padding: 16px 10px;
    
}
.copyright p{
    color: #707070;
    font-size: 12px;
}
/* sidebar scrollbar styling */
.sidebar::-webkit-scrollbar{
    width: 6px; 
}
.sidebar::-webkit-scrollbar-track{
    background: transparent;
}
.sidebar::-webkit-scrollbar-thumb{
    border-radius: 10px;
    transition: 0.1s;
    height: 12rem;
}
.sidebar:hover::-webkit-scrollbar-thumb{
    background: #575757;
}
.video-grid{
    width: 80vw;
    height: auto;
}
.upper-slider{
    height: 56px;
    display: flex;
    width: 82vw;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll;
    padding: 0 20px;
}
.upper-slider::-webkit-scrollbar{
    display: none;
}

.all{
    font-size: 14px;
    background-color: #f2f2f2;
    height: 32px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    border-radius: 8px;
    margin:12px 12px 12px 0;
}
.all p{
    background-color: transparent;
    color: black;
    font-weight: 500;
}
.all-2{
    font-size: 14px;
    height: 32px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 12px;
    border-radius: 8px;
    margin:12px 12px 12px 0;
    background-color: #292929;
}
.all-2 p{
    background-color: transparent;
    font-weight: 500;
    width: 100%;
    white-space: nowrap;
}
.video-grid-lower{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 20px;
    height: auto;
    column-gap: 0;
    height: 86vh;
    padding-left: 16px;
    overflow-y: scroll;
    padding-top: 32px;
    width: 83vw;
}
.video-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 26vw;
}
.thumbnail img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: 0.5s;
}
.thumbnail img:hover{
    transform: scale(1.02);

}
.cursor{
    cursor: pointer;
}
.video-box-lower{
    display: flex;
    height: 100px;
    font-size: 16px;
    padding-top: 10px;
    justify-content: space-evenly;
}
.channel-avatar{
    width: 36px;
    height: 36px;
    margin-right: 13px;
}
.channel-avatar img{
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
.views-time{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.views-time .views:nth-child(2){
    position: relative;
    top: -3px;
}
.channel{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.channel img{
    position: relative;
    bottom: -3px;
    left: -1px;

}
.views{
    margin-right: 5px;
    color: rgb(170, 170, 170);
    font-size: 14px;
    margin-top: 3px;
    font-weight: 400;
}
.video-details{
    padding-right: 20px;
}
.title{
    margin-bottom: 4px;
}
.icon{
    width: 24px;
    height: 24px;
    position: relative;
    right: -5px;
}
/* video grid */
.video-grid-lower::-webkit-scrollbar{
    width: 5px;
}
.video-grid-lower::-webkit-scrollbar-thumb{
    background-color: #ababab;
    min-height: 5px;
    border-radius: 10px; 
}
.shorts-section{
    grid-column: 1/4;
    grid-row: auto;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.shorts-icon{
    display: flex;
    margin-bottom: 24px;
    margin-left: 5px;
}
.shorts-icon img{
    width: 24px;
    height: 24px;
}
.shorts-icon p{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-left: 15px;
    position: relative;
    top: -5px;
}
.shorts-video-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: -10px;
}
.shorts-video-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 229px;
}
.shorts-video-box-img{
    width: 229px;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.shorts-video-box-img img{
    width: auto;
    height: 429px;
}
.shorts-video-title{
    width: 190px;
    height: 63px;
    position: relative;
    left: -8px;
}
.shorts-video-box-lower{
    display: flex;
    justify-content: space-evenly;
    margin-top: 7px;
}
.shorts-video-box-title{
    width: 100%;
    height: 44px;
    overflow: hidden;
    font-size: 16px;
    line-height: 22px;
}
.shorts-video-box-views{
    font-size: 14px;
    color: rgb(170, 170, 170);
    margin-top: 4px;
}
.three-dot-icon{
    position: relative;
    right: -10px;
}